/*
 RESPONSIVE FULL WIDTH BACKGROUND SLIDER STYLE
*/

body.rfwbs-active{
	padding-bottom:40px;
}

.rfwbs_slider {
    position: fixed;
	top: 0;
	width: 100%;
	z-index: -1;
	background:#fff;
	left:0;
}
.rfwbs_slider .rfwbs_container {
	display: none;
}
.rfwbs_slider .scrollable {
	*zoom: 1;
	position: relative;
	top: 0;
	left: 0;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	height: 100%;
}
.rfwbs_slider .scrollable:after {
	content: "";
	display: table;
	clear: both;
}
.rfwbs_slider  .rfwbs_navigation{
	margin: 0 auto;
	position: absolute;
	z-index: 3;
	top: 46%;
	width: 100%;
}
.rfwbs_pagination {
    background-color: #FFFFFF;
    bottom: 0;
    box-sizing: border-box;
    opacity: 0.4;
    padding: 11.3px;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 999999999;
	height: 40px;
	line-height: 0;
}
.rfwbs_pagination a {
	width: 9px;
	height: 12px;
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: middle;
	*vertical-align: auto;
	zoom: 1;
	*display: inline;
	background-image: url("../inc/images/bullets.jpg");
	margin: 4px 2px 2px;
	overflow: hidden;
	text-indent: -99999px;
	outline:0 !important;
	background-color:transparent;
	background-position: 0 0 !important;
	line-height: 0;
	border:0;
	transition: none 0s ease 0s;
}
.rfwbs_pagination a.current{
	background-position: 12px 0 !important;
	width: 12px !important;
}


.rfwbs_slider .rfwbsoverlay {
	height: 100%;
	opacity: 0.5;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 99;
}
.rfwbs_navi img{
	height: 20px;
	outline:0 !important;
}
.rfwbs_navi{
    background-color: rgba(255, 255, 255, 0.6);
    bottom: 0;
    box-sizing: border-box;
    display: block;
    height: 40px;
    line-height: 0;
    padding: 9px 4px 9px 3px;
    position: fixed;
    z-index: 999999999;
}
.rfwbs_navi a{
    border: 0 none;
    display: inline-block;
    height: 20px;
    line-height: 0;
    margin-left: 8px;
    margin-right: 6px;
    outline: 0 none !important;
    padding: 0;
    width: 20px;
}
#rfwbs_prev_slide,#rfwbs_next_slide{
	margin:0 4px;
	position: relative;
    top: 2px;
}